*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: white;
	color:black;
	font-family: "Times New Romans", Times, serif;
	font-size: 1em;
	margin:1em;
}

#nav,#sidebar,#footer{
	display: none;
}

#breadcrumb{

}

#content{
	float: none;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
}

.article{
	page-break-after: auto;
}