*{
	margin: 0px;
	padding: 0px;
}

body{
	margin-right: 3%;
	margin-left: 3%;
	background-color: #bb2a2a;
	color:black;
	font-size: 100%;
	font-family: Helvetica,Arial,sans-serif;
}

#home{
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	color: black;
}

#sfondo{
	position:absolute;
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}


#header{
	margin-top: 1%;
	margin-bottom: 2%;
	width: 100%;
	height: 200px;
	background-image: url('../img/struttura/header_scherma.jpg');
}

#nav li{
	display: inline;
	background-color: #eb8b8b;
	color:black;
	list-style-type: none;
	font-size: 1.2em;
}

#nav-1{
	float:left;
}

#nav-1 ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

#nav-1 li{
	display: inline-block;
	float: left;
	padding:0.4em;
	width: 7.3em;
	border-right: 2px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}


#nav-1  li a{
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

#nav-1  li:hover{background-color: #b8b5b5;}
#nav-1  li a:visited{color:black;}
#nav-1  li a:active{color: black;}
#nav-1  li:hover a{color: #e77731;}

li#active{
	background-color: #b8b5b5;
	color: #e77731;
}

#nav-1 li.last-link{border-right: none;}

#sezione-nav-1{display: none;}

#image-menu{
	background-image: url('../img/struttura/menu_mobile_2.jpg');
	background-size: 4em;
	background-repeat: no-repeat;
}

#panel-nav-1{display: inline;}

#nav-2{float: right;}

#breadcrumb {
  position: absolute;
  left: -999em;
}

.nascondi{
  position: absolute;
  left: -999em;
}

#content{
	float:left;
	margin-top: 5%;
	margin-bottom: 2%;
	width: 75%;
}

.struttura-content{
	overflow: auto;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 3%;
	background-color: #eb8b8b;
	color:black;
}

.article{
	overflow: auto;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 3%;
	background-color: #eb8b8b;
	color:black;
}

.article h1{
	margin-bottom: 2%;
	text-align: center;
	font-size: 1.4em;
}
.article p{
	margin-bottom: 1%;
	line-height: 1.3;
}
.article img{
	float: left;
	overflow: auto;
	padding-right: 1em;
	padding-bottom: 1em;
	max-width: 26em;
	max-height: 26em;
}

.document{
	overflow: auto;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 3%;
	background-color: #eb8b8b;
	color:black;
}

.document h1{
	margin-bottom: 2%;
	text-align: center;
	font-size: 1.4em;
}

.paragrafo-storia{
	overflow: auto;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 3%;
	background-color: #eb8b8b;
	color:black;
}
.paragrafo-storia p{
	margin-bottom: 3%;
	line-height: 1.1;
}

.paragrafo-right{
	float: left;
	margin-left: 3%;
	width: 65%;
}

.paragrafo-left{
	float: left;
	margin-right: 3%;
	width: 70%;
}

.image-storia{
	float: left;
	width: 15em;
	height: 20em;

}

#image-storia-1{
	background-image: url('../img/struttura/storia1.jpg');
	background-size: 15em;
	background-repeat: no-repeat;
	}

#image-storia-2{
	background-image: url('../img/struttura/storia2.jpg');
	background-size: 15em;
	background-repeat: no-repeat;
}

#image-storia-3{
	background-image: url('../img/struttura/storia4.jpg');
	background-size: 15em;
	background-repeat: no-repeat;
}

#staff{text-align: center;}
#staff img{
	max-width: 15em;
	max-height: 15em;
}
#staff p{
	margin-bottom: 1%;
	font-weight: bold;
}
#staff img{margin-bottom: 1%;}

#info{

}
#info p{margin-bottom: 2%;}
#info h1{
	margin-top: 1%;
	margin-bottom: 2%;
	font-size: 1.6em;
}

#sidebar{
	float:right;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	width: 22%;
	background-color: #eb8b8b;
	color:black;
	/*
	position: fixed;
	right:2%;
	*/
}

#sidebar li{list-style-type: none;}
#sezione-sidebar{display: none;}
#panel-sidebar{display: inline;}

.desc-li{
	display: block;
	margin-bottom: 2%;
	font-weight: bold;
}

#panel-sidebar ul li ul li{
	margin-bottom: 3%;
	text-indent: 2%;
}

#footer{
	clear:both;
	margin-bottom: 1%;
	padding:0.5em;
	background-color: #eb8b8b;
	color:black;
	text-align : center;
	font-family: cursive;
}

.footerElement{
	padding: 2px;
	vertical-align: middle;
}

/* MEDIA QUERIES */
@media screen and (max-width:1150px){

	#nav-1{
		float:none;
		width: 100%;
		clear: both;
	}
	#nav-2{
		float:none;
		clear: both;
		margin-top: 3%;
	}
	.article img{
		max-width: 22em;
		max-height: 22em;
	}

	.article h1{font-size: 1.1em;}
	.document h1{font-size: 1.1em;}

}

@media screen and (max-width:850px){

	#sezione-nav-1{
		display:inline-block;
	}
	#sezione-nav-1 li{
		width: 3.1em;
		height: 2.4em;
		border: none;
	}
	#panel-nav-1{
		display: none;
	}
	/* #nav-1{margin-bottom: 5%;} */
	#nav-1 li{display:block;}
	#nav-2 li a{display:block;}

	#panel-nav-1 li{
		float: none;
		width: 7.5em;
		border-right: none;
		border-bottom: 2px solid black;
	}

	#nav-1 li.last-link{
		border-bottom: none;
	}

	#content {
		display: block;
		clear: both;
		width: 100%;
	}
	.image-storia{ /* SISTEMARE */
		display: none;
	}

	.article img{
		display: block;
		float: none;
		margin:0 auto;
	}

	.paragrafo-right{
		float: none;
		width: 100%;
	}

	.paragrafo-left{
		float: none;
		width: 100%;
	}

	#sidebar {
		display: block;
		float: left;
		clear: both;
		width: 99%;
		margin-top: 0;
	}

}


@media screen and (max-width:480px){

	#header{
		float:left;
		margin-top: 1%;
		margin-bottom: 1%;
		width:55%;
		height: 150px;
		background-image: url('../img/struttura/logo-scherma.jpg');
		background-size: 80%;
		background-repeat: no-repeat;
	}
	#nav{
		margin-top: 1%;
		float:left;
		width: 40%;
	}
	#nav-2 a{
	  position: absolute;
	  left: -999em;
	}
	#footer span{
		display: none;
	}

	#sezione-sidebar{
		display:inline-block;
		font-weight: bold;
	}
	.article h1{font-size: 1em;}
	.document h1{font-size: 1em;}
	.nascondi-articolo{
		display: none;
	}
	.article img{
		position: absolute;
		left: -999em;
	}

	#sezione-sidebar{
		display: block;
		text-align: center;
		font-size: 1.1em;
	}
	.sezione:hover {
		background-color: #b8b5b5;
		color: #e77731;
	}
	#panel-sidebar{
		display: none;
		margin-top: 2%;
	}
}