*{
	margin: 0px;
	padding: 0px;
}

body{
	margin-right: 3%;
	margin-left: 3%;
	background-color: #bb2a2a;
	color:black;
	font-size: 100%;
	font-family: Helvetica,Arial,sans-serif;
}

#home{
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	color: black;
}

#sfondo{
	position:absolute;
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}


#header{
	margin-top: 1%;
	margin-bottom: 2%;
	width: 100%;
	height: 200px;
	background-image: url('../img/struttura/header_scherma.jpg');
}

#nav li{
	display: inline;
	border: 1px solid black;
	background-color: #eb8b8b;
	color:black;
	list-style-type: none;
	font-size: 1.2em;
}

#nav-1{
	float:left;
}

#nav-1 li{
	display: inline-block;
	padding:0.4em;
	width: 6.5em;
	text-align: center;
	font-weight: bold;
}


#nav-1  li a{
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;

}

#sezione-nav-1{
	display: none;
}

#image-menu{
	background-image: url('../img/struttura/menu_mobile.jpg');
	background-size: 4em;
	background-repeat: no-repeat;
}

#panel-nav-1{
	display: inline;
}

#nav-2{
	float: right;
}


/* .show{display:block;} */

#breadcrumb {
	display: none;

}

#content{
	float:left;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 75%;
}

.article{
	margin-bottom: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	background-color: #eb8b8b;
	color:black;

}

#sidebar{
	float:right;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	width: 20%;
	background-color: #eb8b8b;
	color:black;
	/* text-align: right; */
}

#sidebar li{
	list-style-type: none;
}

#sezione-sidebar{
	display: none;
}

#panel-sidebar{
	display: inline;
}

#footer{
	clear:both;
	padding:0.5em;
	background-color: #eb8b8b;
	color:black;
	text-align : center;
	font-family: cursive;
}

.footerElement{
	padding: 2px;
	vertical-align: middle;
}


/* MEDIA QUERIES */
@media screen and (max-width:1150px){

	#nav-1{
		float:none;
		clear: both;
	}

	#nav-2{
		float:none;
		clear: both;
		margin-top: 3%;
	}

}

@media screen and (max-width:800px){

	#sezione-nav-1{
		display:inline-block;
	}
	#sezione-nav-1 li{
		width: 3.2em;
		height: 3.2em;
	}
	#panel-nav-1{
		display: none;
	}

	#nav-1 li{display:block;}
	#nav-2 li a{display:block;}
	/* .show{display:block;} */

	#content {
		display: block;
		clear: both;
		width: 100%;
	}

	#sidebar {
		display: block;
		float: left;
		clear: both;
		width: 100%;
	}

	#sezione-sidebar{
		display:inline-block;
	}

	#panel-sidebar{
		display: none;
	}

}


@media screen and (max-width:480px){
	#nav-2 a{
		display: none;
	}
	#footer span{
		display: none;
	}
}