*{
	margin: 0px;
	padding: 0px;
}

#header{
	padding:25px;
	width: 100%;
	height: auto;
	background-image: url('img/struttura/header_scherma.jpg');
	background-size: 4em;
}

#footer{
	clear:both;
	padding:0.5em;
	border-top: 1px black solid;
	text-align : center;
	font-family: cursive;
}

.footerElement{
	padding: 2px;
	vertical-align: middle;
}

#nav li{
	display: inline;
	border: 1px solid black;
}

#nav {
	padding-bottom: 10px;
	text-align: center;
}

#breadcrumb {
	display: none;
}

/* DA ANGRY BIRDS

#path{
	background-color : #040a32;
	text-align : left;
	color: #f6e40f;
	border: 1px black solid;
	padding:15px;
}

#content{
	border-left: 1px black solid;
	width:auto;
	margin:0px;
	margin-left:20%;
	margin-top:0px;
	padding:40px;
	overflow: auto;
}

#sidebar{
	width:15%;
	float:left;
	border-bottom:none;
	padding:15px;
}

*/